* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html,
body {
  height: 100%;
  text-align: center;
  place-items: center;
  /* background: #dde6f0; */
  background: white;
}
.circular {
  height: 100px;
  width: 100px;
  position: relative;
  transform: scale(2);
  margin-top: 15vh;
}
.circular .inner {
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  background: #dde6f0;
  border-radius: 100%;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.circular .numb1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 18px;
  font-weight: 500;
  color: #6cc067;
}
.circular .numb2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 18px;
  font-weight: 500;
  color: #6cc067;
}
.circular .numb3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 18px;
  font-weight: 500;
  color: #6cc067;
}
.circular .numb4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 18px;
  font-weight: 500;
  color: #6cc067;
}
.circular .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  -webkit-border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
}
.circle .bar .progress-bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #6cc067;
  -webkit-border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
}
.circle .left .progress-bar {
  z-index: 1;
  animation: left 4s linear both;
}
@keyframes left {
  100% {
    transform: rotate(180deg);
  }
}

.circle .right {
  z-index: 1;
  transform: rotate(180deg);
}
.circle .right .progress-bar {
  animation: right 4s linear both;
  animation-delay: 4s;
}
@keyframes right {
  100% {
    transform: rotate(180deg);
  }
}

/* ====skills Section====== */
/* variables */
/* colors */
/* margins */
/* z-index */

/* .skills_container{
    row-gap: 2rem;
    text-align: center;
}
.skills_subtitle{
    margin-bottom: 1rem;
}
.skills_text{
    margin-bottom: 2rem;
}
.skills_data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: 500;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
}
.skills_icon{
    font-size: 2rem;
    margin-right: 1rem;
    color: #6cc067;
}
.skills_names{
    display: flex;
    align-items: center;
}
.skills_bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #6cc067;
    height: .25rem;
    border-radius: .5rem;
    z-index: -10;
}
.skills_react{
    width: 95%;
}
.skills_img{
    border-radius: .5rem;
    width: 100%;
} */

.skills_data {
  /* first row of skills*/
  position: relative;
  margin-top: 13%;
}
.skill_data {
  /* first row of skills*/
  position: relative;
  margin-top: 34%;
}
.skill_percentage {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: -4vh;
}
.skill_name {
  font-weight: bold;
  font-size: 25px;
  position: absolute;
}
.skill_detail {
  font-size: 25px;
  position: absolute;
  top: 4vh;
}
.inner_bar {
  background-color: #fff;
  width: 100%;
  height: 5px;
}
.outer_bar {
  background-color: #6cc067;
  width: 90%;
  height: 5px;
}

.circled {
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 50%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.inner_circle::before {
  content: "";
  width: 80%;
  height: 80%;
  border-radius: 85%;
  background-color: transparent;
  border: 10px solid red;
  position: absolute;
  top: 11%;
  left: 9%;
  transition: 0.5s;
  z-index: 1;
}
.outer_circle::before {
  content: "";
  width: 80%;
  height: 80%;
  border-radius: 85%;
  background-color: transparent;
  border: 10px solid #6cc067;
  position: absolute;
  top: 11%;
  left: 9%;
  transition: 0.5s;
}

/* ===cards==== */
/* .cards {
  background: none;
}
.card_content {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 38vh;
  width: 75%;
  position: relative;
  margin: 10px;
}
.card_icon {
  color: #6cc067;
  font-size: 39px;
  margin-top: 9%;
  margin-right: 78%;
  margin-left: 9%;
}
.icon_circle {
  content: "";
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #6cc067;
  z-index: 1;
  margin-top: -19%;
  margin-left: 5%;
}
.card_title {
  font-weight: bold;
  font-size: 23px;
  text-align: left;
  padding-bottom: 10px;
}
.card_body {
  margin: 10px;
}
.card_body p {
  text-align: left;
}
.rectangle1 {
  background: tomato;
  width: 20%;
  display: block;
  border-bottom: 5px solid #6cc067;
}
.rectangle2 {
  background: tomato;
  width: 20%;
  display: block;
  border-bottom: 5px solid #6cc067;
  margin-left: 25%;
  margin-top: -5px;
}
.rectangle3 {
  background: tomato;
  width: 20%;
  display: block;
  border-bottom: 5px solid #6cc067;
  margin-left: 52%;
  margin-top: -5px;
}
.rectangles {
  padding-bottom: 10px;
}
.read {
  background-color: #6cc067;
  color: white;
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid #6cc067;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
  width: 45%;
  margin-top: 30px;
  margin-left: -52%;
} */
/* cards hover */
/* .card_content:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #6cc067;
  height: 38vh;
  width: 75%;
  position: relative;
  margin: 10px; */

/* .card_icon:hover {
  color: #fff;
  font-size: 39px;
  margin-top: 9%;
  margin-right: 78%;
  margin-left: 9%;
}
.icon_circle:hover{
  content: "";
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #fff;
  z-index: 1;
  margin-top: -19%;
  margin-left: 5%;
}
.card_title:hover {
  font-weight: bold;
  font-size: 23px;
  color: #fff;
  text-align: left;
  padding-bottom: 10px;
} */


.card_content{
    background: white;
    width: 300px;
    height: 300px;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    margin-bottom: 16px;
}
.cards_section{
    padding: 10px;
}




 /* nav toggle */
 .wrapper{
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: #6cc067;
 }
 .wrapper .menue{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper .menue li{
  margin: 15px 0;
}
.wrapper .menue li a{
  color: white;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 50px;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}
.wrapper .menue li a:after{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
.wrapper .menue li a:hover:after{
  transform: scaleY(1);
}
.wrapper .menue li a:hover{
  color: red;
}
.navbar-toggler{
  z-index: 1;
  background-color: #fff;
  border: 5px solid #6cc067;
}

.removing{
  display: none;
}
